/****************
To fix future issues with footer change the position
in the media queries. Note for Chris W.
*****************/

* {
    margin: 0;
}
html{
    height: 100%;
}
img{ 
    max-width:100%; 
}
body{
    height: 100%;
    font-family: Arial;    
    font-size: 12pt;    
    /*background: gainsboro;*/
    background-image: url("../img/KMNB_background.jpg"); 
    background-position: left bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: darkslategray;
}

@media screen and (min-width: 1681px){
    body{     
        background-size: 100%; 
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 50%;
        margin-left: 25%;
    }
    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -4em;
    }
    .footer, .push {
        height: 4em;
        clear: both;
    }
}

@media screen and (max-width: 1680px){
    body{     
        background-size: 153%; 
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 50%;
        margin-left: 25%;
    }
    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -4em;
    }
    .footer, .push {
        height: 4em;
        clear: both;
    }
}

@media screen and (max-width: 1280px){
    body{     
        background-size: 190%; 
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 90%;
        margin-left: 5%;
    }
    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -4em;
    }
    .footer, .push {
        height: 4em;
        clear: both;
    }
}
@media screen and (max-width: 1024px){
    .footer {
        position: absolute;
        bottom: 0;
        width: 90%;
        margin-left: 5%;

    }
    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -4em;
    }
    .footer, .push {
        height: 4em;
        clear: both;
    }

}
@media screen and (max-width: 800px){
    body{     
        background-size: 250%; 
    }

}

@media screen and (max-width: 640px){
    body{     
        background-size: 295%; 
    }
}

@media screen and (max-width: 480px){
    body{     
        background-size: 285%; 
    }
}
@media screen and (max-width: 350px){
    body{     
        background-size: 320%; 
    }
}