html
{
    height: 100%;
}
img { 
    max-width:100%; 
}
body{
    height: 100%;
    font-family: Arial;    
    font-size: 12pt;    
    /*background: gainsboro;*/
    background-image: url("../img/KMNB_background.jpg"); 
    background-position: left bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: darkslategray;
}
footer {
    width: 100%;
    padding: 0 0 0 0;
    float:left;
    position:absolute;
    bottom: 0;
    height:60px;
    margin: 1% 0 0 0;
    text-align: center;
}


#wrapper {
    min-height:100%;
    position:relative;
}
#header {
    width: 100%;
}
#content {
    width: 100%;
    padding:10px;
    padding-bottom:80px;   /* Height of the footer element */
}


@media screen and (min-width: 1680px){
    body{     
        background-size: 100%; 
    }
}

@media screen and (max-width: 1680px){
    body{     
        background-size: 143%; 
    }
}

@media screen and (max-width: 1280px){
    body{     
        background-size: 180%; 
    }
}

@media screen and (max-width: 800px){
    body{     
        background-size: 240%; 
    }

}

@media screen and (max-width: 640px){
    body{     
        background-size: 285%; 
    }
}

@media screen and (max-width: 480px){
    body{     
        background-size: 275%; 
    }
}