html
{
    height: 100%;
}

img { max-width:100%; }


.seperator{
    color: #c4996f;
    font-weight: bold;
}

/* Container*/
.container-fluid{
    max-width: 1024px;
}
#container-fluid2 {
    max-width: 906px;
    margin-right:auto;
    margin-left:auto;
}

.carousel-control {
    top: 33%;
}

#Bottom_Wrap {
    background-color: grey;
    height: 100%;
    max-width: 1024px;
    margin-right:auto;
    margin-left:auto;
}

#testdiv{
    height: 2000px;
}

.center_image_desc{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 24px;
    text-align: center;
    color: grey; //#c4996f
    height: 100%;
    max-width: 1024px;
    margin-right:auto;
    margin-left:auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

@media screen and (max-width: 480px){
    .center_image_desc{    
        font-size: 16px
    }
}

@media screen and (max-width: 320px){
    .center_image_desc{    
        font-size: 11px;
    }
}