.copyright{
    max-width: 675px;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
    padding-top: 25px;
}
.link-headers{
    height: 100%;
    max-width: 1024px;
    margin-right:auto;
    margin-left:auto;
    padding-top: 50px;
    text-align: center;
}

.section-headers{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 4em;
    color: white;
}



/* CSS for projects tab */
.project-items{
    max-width: 800px;
    margin-right:auto;
    margin-left:auto;
    margin-top: 35px;
    /*border: 2px solid;
    border-color: yellow;*/

}
.PI-left{
    width: 150px;
    height: 70px;
    margin-right: 15px;
    margin-left: 15px;
    /*margin-top: 50px;*/
    padding-top: auto;
    float: left;
    /*border: 2px solid;
    border-color: red;*/
}

.PI-right{
    max-width: 575px;
    margin-right:auto;
    margin-left:auto;
    margin-top: 25px;
    padding: 15px;
    float: left;
    background-color: white;
    color: black;
    border-radius: 10px;
    /*border: 2px solid;
    border-color: white;*/
}

#ulbora-logo{
    max-width: 150px;
    margin-top: 35px;
}
#dslogo{
    background-color: white;
    border-radius: 15px;
    max-height: 60px;
    padding: 5px;
    margin-top: 50px;
}
#dsbox{
    margin-top: 35px;
}
#freelance{
    background-color: white;
    border-radius: 15px;
    max-height: 60px;
    margin-top: 26px;
    padding: 5px;
    padding-top: 20px;
}
/* END Section */


.seperator{
    color: #c4996f;
    font-weight: bold;
}

#Bottom_Wrap {
    background-color: grey;
    height: 100%;
    max-width: 1024px;
    margin-right:auto;
    margin-left:auto;
}

.center_image_desc{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 24px;
    text-align: center;
    color: grey; /* #c4996f */
    height: 100%;
    max-width: 1024px;
    margin-right:auto;
    margin-left:auto;
    padding-top: 2em;
    padding-bottom: 2em;
}


/* Media Queries for responsive elements */
@media screen and (max-width: 480px){
    .center_image_desc{    
        font-size: 11px;
    }
    .section-headers{
        font-size: 2em;
    }
    .PI-left{
        height: 100%;
        float: none;
        margin-right:auto;
        margin-left:auto;
    }
    .PI-right{
        margin: 9px;
        padding: 9px;
    }
    #ulbora-logo{
        max-width: 150px;
        margin-top: auto;
    }
    #dslogo{
        background-color: white;
        border-radius: 15px;
        max-height: 60px;
        margin-top: 235px;
        padding: 5px
    }
    #dsbox{
        margin-top: 35px;
    }
    #freelance{
        background-color: white;
        border-radius: 15px;
        height: 40px;
        margin-top: 155px;
        padding: 5px;
        padding-top: 9px;
    }
}
/* END MEDIA QUERIES */