.copyright{
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    color: white;
    float: left;
    display: block;
}
#centerName{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.link-headers{
    max-width: 100%;
    margin-right:auto;
    margin-left:auto;
    padding-top: 50px;
    text-align: center;
}
.seperator{
    color: #c4996f;
    font-weight: bold;
}

.center_image_desc{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 24px;
    text-align: center;
    color: grey; /* #c4996f */
    height: 100%;
    margin-right:auto;
    margin-left:auto;
    padding-top: 2em;
    padding-bottom: 2em;
}


/* Media Queries for responsive elements */
@media screen and (max-width: 1680px){
    
}
@media screen and (max-width: 1280px){
    
}
@media screen and (max-width: 800px){
    .center_image_desc{    
        font-size: 11px;
    }
    .section-headers{
        font-size: 4em;
    }
    .center_image_desc{
        font-size: 1.5em;
    }

}
@media screen and (max-width: 480px){
    .center_image_desc{    
        font-size: 11px;
    }
    .section-headers{
        font-size: 2em;
    }
    .center_image_desc{
        font-size: 1em;
    }
}
@media screen and (max-width: 320px){
    .center_image_desc{
        font-size: 1em;
    }
}
/* END MEDIA QUERIES */