@media screen and (min-width: 1680px){
    .photo-links{
        width: 100%;
        text-align: center;
        font-size: 1.5em;
        color: white;
    }
    .photo-header{
        width: 100%;
        text-align: center;
        float: left;
    }
    .photo-content{
        width: 60%;
        margin: 1% 20% 1% 20%;
        float: left;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.5em;
        text-align: center;
        color: white;
    }
    .picture-wrap{
        margin: 5%;
        width: 40%;
        float: left;
        background: pink;
    }
    .picture-wrap-portrait{
        margin: 5% 16.5% 5% 16.5%;
        width: 17%;
        float: left;
    }
}

@media screen and (max-width: 1680px){

}

@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 800px){

}

@media screen and (max-width: 640px){

}

@media screen and (max-width: 480px){

}
@media screen and (max-width: 350px){

}

