@media screen and (min-width: 1680px){
    /* CSS for projects tab */
    .project-items{
        width: 100%;
        margin-right:auto;
        margin-left:auto;
        margin-top: 35px;
        float: left;
        background: pink;
        /*border: 2px solid;
        border-color: yellow;*/

    }
    .PI-left{
        width: 10%;
        margin: 0 0 0 20%;
        padding-top: auto;
        float: left;
        background-color: white;
        text-align: center;
        /*border: 2px solid;
        border-color: red;*/
    }

    .PI-right{
        width: 49%;
        margin: 0 20% 0 1%;
        padding: 1%;
        float: left;
        display: inline;
        background-color: white;
        color: black;
        border-radius: 10px;

        /*border: 2px solid;
        border-color: white;*/
    }

    #ulbora-logo{
        max-width: 20%;
        margin-top: 35px;
        text-align: center;
    }
    #dslogo{
        background-color: white;
        border-radius: 15px;
        padding: 5px;
        text-align: center;
    }
    #freelance{
        background-color: white;
        border-radius: 15px;

        padding: 10px;
    }
    .freelance-span{
        font-size: 1em;
    }
}

@media screen and (max-width: 1680px){
    .project-items{
        width: 100%;
        margin-right:auto;
        margin-left:auto;
        margin-top: 35px;
        float: left;
        background: purple;
        /*border: 2px solid;
        border-color: yellow;*/

    }
    .PI-left{
        width: 10%;
        margin: 0 0 0 20%;
        padding-top: auto;
        float: left;
        background-color: white;
        text-align: center;
        /*border: 2px solid;
        border-color: red;*/
    }

    .PI-right{
        width: 49%;
        margin: 0 20% 0 1%;
        padding: 1%;
        float: left;
        display: inline;
        background-color: white;
        color: black;
        border-radius: 10px;

        /*border: 2px solid;
        border-color: white;*/
    }

    #ulbora-logo{
        max-width: 20%;
        margin-top: 35px;
        text-align: center;
    }
    #dslogo{
        background-color: white;
        border-radius: 15px;
        padding: 5px;
        text-align: center;
    }
    #freelance{
        background-color: white;
        border-radius: 15px;

        padding: 10px;
    }
    .freelance-span{
        font-size: 1em;
    }
}

@media screen and (max-width: 1280px){
    /* CSS for projects tab */
    .project-items{
        width: 98%;
        margin-right:auto;
        margin-left:auto;
        margin-top: 35px;
        float: left;
        background-color: green;
        /*border: 2px solid;
        border-color: yellow;*/


    }
    .PI-left{
        width: 30%;
        margin-right: 15px;
        margin-left: 15px;
        float: left;
        display: inline;
        background-color: blue;
        /*border: 2px solid;
        border-color: red;*/
    }

    .PI-right{
        max-width: 60%;
        margin-right:auto;
        margin-left:auto;
        margin-top: 25px;
        padding: 15px;
        float: left;
        display: inline;
        background-color: red;
        /*border: 2px solid;
        border-color: white;
        max-width: 98%;
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding: 9px;*/
    }

    #ulbora-logo{
        max-width: 40%;
        margin-top: 35px;
    }
    #dslogo{
        background-color: white;
        border-radius: 15px;
        padding: 5px;
        margin-top: 40px;
    }
    #freelance{
        /*background-color: white;*/
        border-radius: 15px;
        margin-top: 30px;
        padding: 10px;
    }
    .freelance-span{
        font-size: 1em;
    }
    .copyright{
        width: 80%;
        margin-right:auto;
        margin-left:auto;
        text-align: center;
        font-family: "Arial Black", Gadget, sans-serif;
        color: white;
        float: none;
        display: block;
    }
}

@media screen and (max-width: 800px){
    .project-items{
        max-width: 98%;
        margin-right:auto;
        margin-left:auto;
        margin-top: 35px;
        /*border: 2px solid;
        border-color: yellow;*/
    }
    .PI-left{
        float: none;
        display: block;
        margin-right:auto;
        margin-left:auto;
    }
    .PI-right{

        max-width: 98%;
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding: 9px;
    }
    #ulbora-logo{
        max-width: 50%;
    }
    #dslogo{
        background-color: white;
        border-radius: 15px;
        margin-top: 25px;
        padding: 5px
    }
    #freelance{
        background-color: white;
        border-radius: 15px;
        height: 40px;
        margin-top: 15px;
        padding: 5px;
        padding-top: 9px;
    }
    .copyright{
        width: 80%;
        margin-right:auto;
        margin-left:auto;
        text-align: center;
        font-family: "Arial Black", Gadget, sans-serif;
        color: white;
        float: none;
        display: block;
    }
}

@media screen and (max-width: 640px){
    .PI-left{
        height: 100%;
        width: 95%;
        float: none;
        margin-right:auto;
        margin-left:auto;
        margin-top: 15px;
    }
    .PI-right{
        width: 95%;
        margin: 9px;
        margin-top: 15px;
        padding: 9px;
    }
    #ulbora-logo{
        max-width: 150px;
        margin-top: 15px;
    }
    #dslogo{
        background-color: white;
        border-radius: 15px;
        max-height: 60px;
        margin-top: 15px;
        padding: 5px
    }
    #dswrapbox{
        margin-top: 15px;
    }
    #freelance{
        background-color: white;
        border-radius: 15px;
        height: 40px;
        padding: 9px;
    }
    .copyright{
        max-width: 95%;

    }
}

@media screen and (max-width: 480px){
    .PI-left{
        height: 100%;
        width: 95%;
        float: none;
        margin-right:auto;
        margin-left:auto;
        margin-top: 15px;
    }
    .PI-right{
        width: 95%;
        margin: 9px;
        margin-top: 15px;
        padding: 9px;
    }
    #ulbora-logo{
        max-width: 150px;
        margin-top: 15px;
    }
    #dslogo{
        background-color: white;
        border-radius: 15px;
        max-height: 60px;
        margin-top: 15px;
        padding: 5px
    }
    #dswrapbox{
        margin-top: 15px;
    }
    #freelance{
        background-color: white;
        border-radius: 15px;
        height: 40px;
        padding: 9px;
    }
    .copyright{
        max-width: 95%;

    }
}