<!--

<div class="container-fluid" id="container-fluid2">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="carousel slide" id="myCarousel">
                            <div class="carousel-inner">

                                <div class="item active">
                                    <div class="bannerImage">
                                        <a href="#"><img src="img/Ken_Mount_tree1.JPG" alt=""/></a>
                                    </div>
                                </div><!-- Slide1 --

                                <div class="item">
                                    <div class="bannerImage">
                                        <a href="#"><img src="img/white_oak_sky.jpg" alt=""/></a>
                                    </div>
                                </div><!-- /Slide2 --            

                                <div class="item">
                                    <div class="bannerImage">
                                        <a href="#"><img src="img/Bella_Dallas1.JPG" alt=""/></a>
                                    </div>
                                </div> <!-- /Slide3 -- 

                                <div class="item">
                                    <div class="bannerImage">
                                        <a href="#"><img src="img/Ken_Mount_fence1.JPG" alt=""/></a>
                                    </div>
                                </div> <!-- /Slide3 --                      

                                <div class="item">
                                    <div class="bannerImage">
                                        <a href="#"><img src="img/Bella_Dallas2.JPG" alt=""/></a>
                                    </div>
                                </div> <!-- /Slide3 -- 

                            </div>

                            <div class="control-box">                            
                                <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
                                <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
                            </div><!-- /.control-box --   

                        </div><!-- /#myCarousel --

                    </div><!-- /.span12 --        
                </div><!-- /.row -- 
            </div><!-- /.container -->
            
            