<nav class="navbar transparent navbar-inverse" role="navigation" style="border-radius: 0 !important; margin-bottom: 0 !important; ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class='branding-image'>
                <a class="navbar-brand" rel="home" href="#" title="Chris-A-Williamson.com">
                    <img style="width: 50px; margin-top: -15px" src="img/brand.gif"></a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="mainCtrl">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/')}"> <a href="#!/">Home</a></li>
                <li><a href="https://www.linkedin.com/pub/chris-williamson/2b/43a/867">Resume</a></li>
                <li ng-class="{ active: isActive('/projects')}"><a href="#!projects">Projects</a></li>
                <li ng-class="{ active: isActive('/photography')}"><a href="#!photography">Photography</a></li>
                <li ng-class="{ active: isActive('/design')}"><a href="#!design">Website Design</a></li>
                <li ng-class="{ active: isActive('/blog')}"><a href="#">Blog</a></li>
                <li><a href="https://github.com/cwilliamson29">GitHub</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
