
<div class="photo-header">Portraits</div>

<div class="picture-wrap">
    <img src="img/photography/portrait/Dana1.jpg" alt=""/>
</div>

<div class="picture-wrap">
    <img src="img/photography/portrait/Dana3.jpg" alt=""/>
</div>

<div class="picture-wrap">
    <img src="img/photography/portrait/Dana4.jpg" alt=""/>
</div>

<div class="picture-wrap">
    <img src="img/photography/portrait/Dana5.jpg" alt=""/>
</div>

<div class="picture-wrap">
    <img src="img/photography/portrait/Dana6.jpg" alt=""/>
</div>

<div class="picture-wrap">
    <img src="img/photography/portrait/Dana7.jpg" alt=""/>
</div>