<div class='link-headers'>
    <div class="section-headers">
        Open Source Projects
    </div>

    <!-- Begin UlboraCMS -->
    <div class="project-items">

        <!-- left side of the project items, contains image -->
        <div class="PI-left">
            <img src="img/Ulbora_Round_enlarged.png" alt="" id="ulbora-logo"/>
        </div>

        <!-- right side of the project items, contains description -->
        <div class="PI-right">
            Ulbora CMS 2.0 is the first Open Source MEAN stack CMS and blog platform. 
            Ulbora CMS 2.0 is built with MongoDB, ExpressJS, AngularJS and Node.js. 
            Ulbora CMS 2.0 is a Cloud ready CMS and blog platform with switchable templates. 
            Templates can be written in either AngularJS or with conventional server-side template engines like EJS or Jade. 
            Templates can even use a combination of both Angular and server-side template technology.<br>
            <br>
            <a href="http://www.ulboracms.org/">www.UlboraCMS.org</a>
        </div>
    </div>
    <!-- END UlboraCMS -->

    <!-- BEGIN Driven Solutions -->
    <div class="project-items" id="dsbox">

        <!-- left side of the project items, contains image -->
        <div class="PI-left" id="dslogo">
            <img src="img/DS logo.png" alt=""/>
        </div>

        <!-- right side of the project items, contains description -->
        <div class="PI-right">
            Driven Solutions is a software development company that focuses on customer satisfaction and high quality 
            applications. Driven Solutions is a leading provider of Mean Stack web applications built on Ulbora CMS.<br>
            <br>
            <a href="http://www.drivensolutions.com/">www.DrivenSolutions.com</a>
        </div>
    </div>
    <!-- END Driven Solutions -->

    <!-- BEGIN Freelance -->
    <div class="project-items">

        <!-- left side of the project items, contains image -->
        <div class="PI-left" id="freelance">
            Freelance Projects
        </div>

        <!-- right side of the project items, contains description -->
        <div class="PI-right">
            No current freelance projects to view at this time. Please check back at a later time, or contact for more information.
        </div>
    </div>
    <!-- END Freelance -->
</div>